<h2>ng-template</h2>
<div *ngIf="shouldDisplay" class="hello-world">
  <p>
    Structural *ngIf element - converted to ng-template inside Angular.
  </p>
</div>

<!-- This will not render anything in the DOM. Angular converts ng-template to diagnostic comments. -->
<ng-template *ngIf="showMyNgTemplate">
  <p>
    Arbitrarily inserted content via ng-template.
  </p>
</ng-template>

<!-- First method to get it to work. -->
<ng-template [ngIf]="showMyNgTemplate">
  <p>
    Arbitrarily inserted content via ng-template.
  </p>
</ng-template>

<!-- Second method to get it to work. -->
<ng-template *ngIf="showMyNgTemplate then myNgTemplate"></ng-template>
<ng-template #myNgTemplate>
  <p>
    Some other content via ng-template.
  </p>
</ng-template>

<app-product></app-product>

<app-project-content>
  <div>
    <p>
      This is a custom footer projected via ng-content.
    </p>
  </div>
</app-project-content>

<app-multiple-project-content>
  <h3 multiple-h3>Header for first ng-content</h3>
  <div multiple-div>Div for second ng-content</div>
  <span>Span for the third ng-content</span>
</app-multiple-project-content>

<app-company-page [headerTemplate]="customHeader" [footerTemplate]="customFooter"></app-company-page>

<ng-template #customHeader>
  <div class="custom-class">Custom header content...</div>
</ng-template>

<ng-template #customFooter>
  <div class="custom-class">Custom footer content...</div>
</ng-template>